.player-details-info {
    display: grid;
    grid-template-areas: 
    "img b1 b2"
    "img b3 b4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem 3rem ;
}

.player-details-img {
    grid-area: img;
    

    img {
        height: 100%;  
    }
    
}

.player-details-bio {
    grid-area: b1;
    font-size: 1.3em;
    div {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1.5rem;
        /* background-color: #2b2b2bc9; */
        border: 2px solid rgb(70, 70, 70);
        border-radius: 10px;
        margin: 1rem 0;
    }
}

.player-details-role {
    grid-area: b2;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
}

.player-details-num {
    font-size: 9em;
    justify-self: center;
    margin: 0;
    line-height: 1;
}

.player-details-amplua {
    font-size: 2.2em;
    justify-self: center;
}

.player-details-team {
    grid-area: b3;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
}

.player-details-team-img {
    height: 10rem;
    margin: 0 1.5rem;

    img {
        width: auto;
        height: inherit;
    }
}

.player-details-team-name {
    justify-self: center;
    width: 65%;
    font-size: 1.4em;
}

.player-details-country {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    
}

.player-details-country-img {
    
    img {
        width: 8rem;
        height: auto;
    }
}

/* --------------------------- */

.player-details-stats {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.player-details-stats-block {
    text-align: center;
    font-size: 1.5em;
    background-color: #2b2b2bc9;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    padding: 1rem;
    

    .stats-block-max {
        color: #8b8b8b;
    }
}

