.player-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    font-size: 1.3em;
    background-color: #2b2b2bc9;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;

}

.player-card-img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1.5rem;

    img {
        width: inherit;
        height: auto;
    }
}

.player-card-info {
    justify-self: center;
    
}

.player-card-name {
    margin: 0;
}